<input type="checkbox">
<h2><%= @todo.description %> <%= @todo.pomodoro_estimate %> Pomodoros</h2>
<h3>Todo #<%= params[:id] %></h3>

<h1>The task is : <%= @description %> </h1>
<a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
<a href="#">Delete</a>
<a href="/todo/index">Go back...</a>